html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  font-family: "Edu SA Beginner", cursive;
}

.container_title {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.cotainer_hed {
  margin: 0;
  min-height: 200px;
  background-image: url("./fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.my_photo {
  object-fit: cover;
  max-width: 300px;
  max-height: 200px;
  /* opacity: 0, 5; */
  border-radius: 50%;
  cursor: pointer;
}
h1 {
  text-transform: uppercase;
  font-size: 45px;
}
h2 {
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
}
.info {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.sp {
  font-size: 25px;
  height: 2em;
  font-weight: 600;
}
.spn {
  font-size: 25px;
  height: 2em;
  list-style-type: none;
}
.spnn {
  font-size: 25px;
  height: 3em;
  list-style-image: url(./facebook-thumb.svg);
}
.info_education {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}
.info_experience {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}
.info_skills {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.footer_hobby {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
  border-radius: 10%;
}

.img_hobby {
  width: 7%;
}
.img_hobby_two {
  width: 6%;
}
.burger {
  height: 65px;
  width: 65px;
  cursor: pointer;
  background-color: rgb(115, 115, 211);
  padding: 0;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.burger_span {
  display: block;
  background-color: aliceblue;
  width: 21px;
  height: 3px;
  margin-bottom: 4px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  .my_photo {
    max-width: 150px;
    max-height: 100px;
  }
  .sp {
    height: 4em;
  }
  .spn {
    height: 4em;
  }
  .spnn {
    height: 5em;
  }
  .img_hobby {
    width: 10%;
  }
  .img_hobby_two {
    width: 10%;
  }
}
.adf {
  grid-template: 0;
}
